.project
.classpath
.settings
*.ipr
.idea
*.iws
*.iml
*~
*.log
.DS_Store
target
examples/jsf/login/src/main/webapp/META-INF/MANIFEST.MF
examples/jsf/numberguess/src/main/webapp/META-INF/MANIFEST.MF
examples/jsf/translator/ejb/src/main/resources/META-INF/MANIFEST.MF
examples/jsf/translator/war/src/main/webapp/META-INF/MANIFEST.MF
examples/wicket/numberguess/src/main/webapp/META-INF/MANIFEST.MF
examples/jsf/translator/ear/src/main/application/META-INF/application.xml
docs/reference/weld-reference.pdf
jboss-as/local.build.properties
test-output
examples/jsf/numberguess/src/main/webapp/WEB-INF/web.xml
examples/jsf/pastecode/src/main/webapp/META-INF/MANIFEST.MF
examples/jsf/permalink/src/main/webapp/META-INF/MANIFEST.MF
tests-arquillian/src/test/resources/org/jboss/weld/tests/contexts/conversation/exceptionInPhaseListener/.faces-config.xml.jsfdia
nb-configuration.xml