body {
  margin: 25px;
  font-family: "Droid Sans", Arial, sans-serif;
}

h1, h2, h3, h4 {
  font-family: "Droid Sans", Arial, sans-serif;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

.node text {
  font-weight: bold;
}

.injection-point-info {
  cursor: pointer;
}

.circle-root {
  fill: red;
}

.circle-producer {
  fill: lightsteelblue;
}

.circle-bda {
  fill: CornflowerBlue;
}

.circle-bda-add {
  fill: LightBlue;
}

.circle-observer {
  fill: orange;
}

.circle-constructor {
  fill: green;
}

.circle-regular {
  fill: steelblue;
}

.circle-builtin {
  fill: DarkGray;
}

.circle-nonselected {
  fill: black;
}

.stroke-producer {
  stroke: lightsteelblue;
}

.stroke-observer {
  fill: orange;
  stroke: orange;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

i.dep-legend {
  padding: 5px;
}

i.injects {
  padding-right: 5px;
  color: #ccc;
}

i.declared-by {
  color: LightBlue;
}

i.potential {
  color: Aquamarine;
}

svg {
  width: 100%;
  padding: 0px;
  margin: 0px;
  display: block;
  border: 1px solid #dddddd;
}

.btn-line {
  margin-bottom: 15px;
}

.no-margin {
  margin: 0;
}

/* Override the bootstrap defaults */
div.form-group {
  margin-bottom: 0px;
}

.INTERCEPTOR, .DECORATOR {
  background-color: Tomato;
}

.EXTENSION {
  background-color: CornflowerBlue;
}

.SYNTHETIC {
  background-color: LightSlateGray;
}

.BUILT_IN, .CONTAINER {
  background-color: DarkGray;
}

.MANAGED, .SESSION, .PRODUCER_METHOD, .PRODUCER_FIELD, .RESOURCE,
  .APPLICATION {
  background-color: LimeGreen;
}

.ALWAYS, .IF.EXISTS {
  background-color: SandyBrown;
}

.IN_PROGRESS, .BEFORE_COMPLETION, .AFTER_COMPLETION, .AFTER_SUCCESS,
  .AFTER_FAILURE {
  background-color: DarkGray;
}

.priority {
  background-color: DarkKhaki;
}

.boxed {
  font-weight: bold;
  font-size: 12px;
  padding: 5px;
  border-radius: 4px;
  color: white;
  display: inline-block;
}

div.form-control-like {
  padding: 6px 12px;
}

.form-control-auto-width {
  width: auto;
}

ul.plain-list {
  padding: 0px;
}

ul.plain-list li {
  list-style: none;
}

.no-margin {
  margin: 0px;
}

.modal-dialog-center {
  margin-top: 25%;
}

#navigation-menu a, #navigation-menu span {
  color: silver;
}

#navigation-menu.navbar {
  border-width: 0px;
}

#navigation-menu ul.dropdown-menu li a {
  color: #1d1d1d;
}

#navigation-menu a.active, #navigation-menu li.active a.dropdown-toggle
  {
  background-color: #337ab7;
  color: #fff;
  background-image: none;
}

#navigation-menu a:HOVER, #navigation-menu li.active a.dropdown-toggle:HOVER {
  background-color: #1d1d1d;
}

a.nav-link {
  padding: 5px 8px 5px 4px;
  margin-right: 5px;
  border-radius: 3px;
}

#navigation-menu .navbar-brand {
  padding: 5px 20px 5px 15px;
}

#navigation-menu a:HOVER {
  /*text-decoration: underline;*/
}

/*#navigation-menu .navbar-nav>li {
  border-right: 2px solid #4D4D4D;
}*/

div.content {
  padding: 30px 10px 10px 10px;
}

.table>tbody>tr>th.with-rowspan {
  vertical-align: middle;
}

.leg-circle {
  border-radius: 50%;
  display: inline-block;
  width: 25px;
  height: 25px;
  padding: 5px 5px 5px 10px;
  font-weight: bold;
}

.leg-circle-bda {
  background: none repeat scroll 0 0 CornflowerBlue;
}

.leg-circle-bda-add {
  background: none repeat scroll 0 0 LightBlue;
}

.leg-circle-builtin {
  background: none repeat scroll 0 0 DarkGray;
}

.leg-circle-nonselected {
  background: none repeat scroll 0 0 black;
}

.leg-circle-constructor {
  background: none repeat scroll 0 0 green;
}

.leg-circle-observer {
  background: none repeat scroll 0 0 orange;
}

.leg-circle-producer {
  background: none repeat scroll 0 0 lightsteelblue;
}

.leg-list li {
  margin-bottom: 5px;
}

.abbreviated {
  color: gray;
}

.important {
  font-weight: bold;
}

.quick-links a.dropdown-toggle {
  background-color: Salmon;
}

#navigation-menu .quick-links a.dropdown-toggle {
  color: white;
}

.centered {
  text-align: center;
}

.changed-true {
  color: LimeGreen;
  font-weight: bold;
}

.enablementConflict{
   font-weight: bold;
   font-size: 14px;
   padding: 5px;
   color: red;
   display: inline-block;
}

div.breadcrumbs {
  margin-top: 5px;
  color: #b0b0b0;
  font-size: 90%;
}

div.breadcrumbs>a {
  color: #333;
}

div.bda-beans {
  background-color: black;
  text-align: center;
  display: inline-block;
}

div.let-width-3 {
  width: 3em;
}

a.probe-comp, i.probe-comp, span.probe-comp {
  color: silver;
}

p.version span {
  padding-right: 10px;
  color: white;
}

code {
  background-color: #efefef;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  color: #333;
  padding: 2px 4px;
  white-space: nowrap;
  font-family: sans-serif;
}

div.content .panel-default>.panel-heading {
  background-image: none;
  font-weight: bold;
}

span.separator {
 color: silver;
}