<configuration debug="false">

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>warn</level>
        </filter>
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} %-15.-15([%-14.-14(%.-13thread])) %-5level %logger{25} - %msg %n
            </pattern>
        </encoder>
    </appender>
    <root level="warn">
        <appender-ref ref="Console"/>
    </root>

</configuration>