<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <!-- The default pattern: Date Priority [Category] Message\n -->
            <param name="ConversionPattern" value="%-5p [%c{6}] %m%n"/>
        </layout>
    </appender>

    <!-- ############### Embedded EJB3 #################  -->
    <category name="org.jboss">
        <priority value="ERROR"/>
    </category>
    <category name="com.arjuna">
        <priority value="ERROR"/>
    </category>

    <!-- ############### Hibernate logging ################# -->

    <category name="org.hibernate">
        <priority value="ERROR"/>
    </category>

    <!--
    <category name="org.hibernate.SQL">
        <priority value="TRACE"/>
    </category>

    <category name="org.hibernate.type">
        <priority value="TRACE"/>
    </category>

    <category name="org.hibernate.loader">
        <priority value="TRACE"/>
    </category>
    <category name="org.hibernate.cache">
        <priority value="TRACE"/>
    </category>
    -->

    <!-- ############### Web Beans logging ################### -->

    <category name="org.jboss.webbeans">
        <priority value="WARN"/>
    </category>
    
    <root>
        <priority value="INFO"/>
        <appender-ref ref="CONSOLE"/>
    </root>

</log4j:configuration>
