<?xml version="1.0" encoding="utf-8"?>
<jnlp
    spec="$jnlpspec"
    codebase="$jnlpCodebase"
    context="$$context"
    href="$$name">
  <information>
  
    <title>Weld Numberguess - Webstart</title>
    <vendor>http://weld.cdi-spec.org</vendor>
#if($project.Url)
    <homepage href="$project.Url"/>
#end
#if($project.Description)
    <description>$project.Description</description>
#end
#if($offlineAllowed)
    <offline-allowed/>
#end
  </information>
#if($allPermissions)
  <security>
     <all-permissions/>
  </security>
#end
  <resources>
    <j2se version="$j2seVersion"/>
     $dependencies
     $extensions
  </resources>
  <application-desc main-class="$mainClass">
  </application-desc>
</jnlp>

