<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="WebBeans RI" verbose="1">

   <test name="Web Beans RI">
      <groups>
         <run>
            <exclude name="specialization" />
            <exclude name="deployment" />
            <exclude name="disposalMethod" />
            <exclude name="producerMethod" />
            <exclude name="observerMethod" />
            <exclude name="deferredEvent" />
            <exclude name="ejb3" />
            <exclude name="webservice" />
            <exclude name="annotationDefinition" />
            <exclude name="webbeansxml" />
            <exclude name="el" />
            <exclude name="jms" />
            <exclude name="interceptors" />
            <exclude name="decorators" />
            <exclude name="servlet" />
            <exclude name="clientProxy" />
            <exclude name="passivation" />
            <exclude name="enterpriseBeans" />
            <exclude name="removeMethod" />
            <exclude name="singletons" />
            <exclude name="ejbjarxml" />
            <exclude name="beanDestruction" />
            <exclude name="commonAnnotations" />
         </run>
      </groups>
      <packages>
         <package name="org.jboss.webbeans.test"></package>
      </packages>
   </test>
   
</suite>