<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="WebBeans RI" verbose="1">

   <test name="Web Beans RI">
      <groups>
         <run>
            <exclude name="specialization" />
            <exclude name="beanLifecycle" />
            <exclude name="deployment" />
            <exclude name="disposalMethod" />
            <exclude name="producerMethod" />
            <exclude name="observerMethod" />
            <exclude name="deferredEvent" />
            <exclude name="injection" />
            <exclude name="ejb3" />
            <exclude name="annotationDefinition" />
            <exclude name="webbeansxml" />
            <exclude name="el" />
            <exclude name="jms" />
            <exclude name="interceptors" />
            <exclude name="innerClass" />
            <exclude name="servlet" />
            <exclude name="clientProxy" />
         </run>
      </groups>
      <packages>
         <package name="org.jboss.webbeans.test"></package>
      </packages>
   </test>
   
</suite>