body {
  font-family: Arial,sans-serif;
  font-size: medium;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  text-align: left;
  vertical-align: top;
}

table tr td, table tr th {
  border: 1px solid #ddd;
  line-height: 1em;
  padding: 8px;
}

.table-striped > tbody > tr:nth-child(2n+1) {
    background-color: #f9f9f9;
}

pre {
  background-color: black;
  color: white;
  padding: 1em;
}
