body {
  margin: 0px;
  background-color: #ffffff;
}

#header {
  background: url(header.png) top left no-repeat;
  height: 116px;
}

#container {
  width: 1024px;
  background-color: #ffffff;
}

#sidebar {
  background: url(sidebar.png) top left no-repeat;
  background-color: #ffffff;
  float: left;
  width: 150px;
  height: 487px;
}

#content {

}