<Context>
   <Resource name="BeanManager" auth="Container"
            type="javax.inject.manager.BeanManager"
            factory="org.jboss.weld.resources.ManagerObjectFactory"/>
<!--   Uncomment to enable injection into Servlet -->
<Listener className="org.jboss.weld.environment.tomcat.WeldLifecycleListener" />
            
            
</Context>
