<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <display-name>Resource Injection Tests</display-name>

    <env-entry>
        <env-entry-name>org.jboss.weld.tests.reproducer.Foo/world</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>world</env-entry-value>
    </env-entry>

</web-app>