<Beans xmlns="urn:java:ee" 
		xmlns:test="urn:java:org.jboss.webbeans.test.unit.xml.javaeepkg.foo">
	
	<test:Order>
		<RequestScoped />
		<Integer />
		<Date />
		<DataSource />
		<InvocationContext />
		<Event />
		<ScheduleExpression />
		<EntityManager />
		<Binding />
		<Connection />
		<test:getOrder>
			<Produces>
				<test:Order />
			</Produces>
		</test:getOrder>
	</test:Order>
	
	<test:PaymentResource>
		<Resource>
			<name>java:app/service/PaymentService</name>
		</Resource>
	</test:PaymentResource>
</Beans>


<!--
   javax.context.RequestScoped;
   java.lang.Integer;
   java.util.Date;
   javax.sql.DataSource;
   javax.interceptor.InvocationContext;
   javax.event.Event;
   javax.ejb.ScheduleExpression;
   javax.persistence.EntityManager;
   javax.xml.ws.Binding;
   javax.jms.Connection;
   javax.inject.Produces;
   javax.annotation.Resource;         
-->