body {
	margin: 0px;
	padding: 0px;
	border-width: 0px;
	background-color: #FFFFFF;
}

table {
	border-width: 0px;
	margin: 0px;
	padding: 0px;
}
table tr td {
	margin: 0px;
	padding: 0px;
}

div#topseparator {
	border-width: 0px;
	height: 20px;
	width: 100%;
	background-color:#8784C6;
}

div#main {
	width: 100%;
}

div#bottomseparator {
	height: 20px;
	width: 100%;
	background-color:#8784C6;
}

div#header {
	width:100%;
	height:60px;
	background-color:#8784C6;
	background-image: url('../img/small.png');
	background-repeat: repeat-x;
	vertical-align: top;
	margin: 0px;
	padding: 0px;
}

div#footer {
	width:100%;
	height:50px;
	background-color:#1E2580;
	color: #CCDFFF;
	vertical-align: top;
	text-align: center;
}

div#rightmenuhead {
	background-color:#C1C1E8;
	border-color:#8784C6;
	border-width:1px;
	padding:2px;
}

div#rightmenubody {
	padding:2px;
}

span#menuitem {
	margin: 2px;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 2px;
	padding-bottom: 2px;
	border: 1px solid black;
	background-color:#E9E9F8;
}

div#code {
	width: 99%;
	height: 400px;
	overflow: auto;
	border: 1px solid #7F7F7F; 
}

img#logo {
	width: 150px;
	height: 55px;
	border: 1px solid black;	
}

span#edgelink {
	border-width: 0px;
	margin:1px;
	background-color:#8784C6;
}

span#normallink {
	border-width: 1px;
	margin-left:4px;
	margin-right:4px;
	background-color: #E9E9F8;
}





