<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="2.4"
   xmlns="http://java.sun.com/xml/ns/j2ee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="
      http://java.sun.com/xml/ns/j2ee
      http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

   <display-name>weld-numberguess-wicket</display-name>

   <filter>
      <filter-name>Wicket Filter</filter-name>
      <filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
      <init-param>
         <param-name>applicationClassName</param-name>
         <param-value>org.jboss.weld.examples.wicket.NumberGuessApplication</param-value>
      </init-param>
   </filter>
   
   <listener>
      <listener-class>org.jboss.weld.environment.servlet.Listener</listener-class>
   </listener>

   <filter-mapping>
      <filter-name>Wicket Filter</filter-name>
      <url-pattern>/*</url-pattern>
   </filter-mapping>

</web-app>
