body {
	margin: 0px;
	padding: 0px;
	border-width: 0px;
	background-color: #cccccc;
	font-family:trebuchet MS, Lucida Sans Unicode, Lucida Sans, Sans-Serif;
}

div#header {
	height:60px;
	background: url(../img/header_bg.png) top left repeat-x;
	margin: 0px;
	padding: 0px;
}

div#headerImage {
  margin-top: 8px;
  margin-left: 6px;
  margin-right: 24px;
  width: 223px;
  height: 42px;
  float: left;
  background: url(../img/pastecode.png) top left no-repeat;
}

div.divider {
  float: left;
  width: 2px;
  height: 60px;
  margin-left: 4px;
  margin-right: 4px;  
  background: url(../img/divider.png) top left no-repeat;
}

div.menuitem {
  float: left;
  margin-left: 4px;
  margin-right: 4px;
  padding-top: 18px;  
  height: 100%;
}

div.menuitem a, div.menuitem a:visited {
  margin-left: 8px;
  margin-right: 8px;  
  color: #ffffff;
  text-decoration: none;
}

div.menuitem a:hover {
  margin-left: 8px;
  margin-right: 8px;  
  color: #f6ae00;
}

div#poweredby {
  margin-top: 4px;
  margin-right: 4px;
  float: right;
  width: 110px;
  height: 51px;
  background: url(../img/poweredbyweld.png) top right no-repeat;
}

table {
	border-width: 0px;
	margin: 0px;
	padding: 0px;
}
table tr td {
	margin: 0px;
	padding: 0px;
}

div#topseparator {
	height: 10px;
	background-color:#33343d;
	border-top: 1px solid #dfdfdf;
}

div#bottomseparator {
	height: 20px;
	width: 100%;
	background-color:#8784C6;
}

div#footer {
	width:100%;
	height:50px;
	background-color:#1E2580;
	color: #CCDFFF;
	vertical-align: top;
	text-align: center;
}

div#code {
	width: 99%;
	height: 400px;
	overflow: auto;
	border: 1px solid #7F7F7F; 
}

img#logo {
	width: 150px;
	height: 55px;
	border: 1px solid black;	
}

span#edgelink {
	border-width: 0px;
	margin:1px;
	background-color:#8784C6;
}

span#normallink {
	border-width: 1px;
	margin-left:4px;
	margin-right:4px;
	background-color: #E9E9F8;
}


/** Recent pastes styles */

div.recentPastes {
  width: 230px;
  background-color: #ffffff;
  padding: 0px;
  border: 0px;
}

div.recentPastesHeader {
  background-color: #bbbbbb;
  color: #000000;
  font-weight: bold;
  padding: 4px;
  border: 0px;
}

div.recentPaste {
  border-bottom: 1px dotted #aaaaaa;
  border-left: 0px;
  border-right: 0px;
  color: #aaaaaa;
  padding: 2px;
}

div.recentPaste a, div.recentPaste a:visited {
  color: #ff0000;
  text-decoration: none;  
  display: block;
}

div.recentPaste a:hover {
  color: #aaaaaa;
  text-decoration: none;  
  display: block;
}

span.recentPasteLang {
  color: #000000;
}



