<beans>
  <interceptors>
    <class>org.jboss.weld.tests.interceptors.passivation.Goalkeeper</class>
    <class>org.jboss.weld.tests.interceptors.passivation.Defender</class>
    <class>org.jboss.weld.tests.interceptors.passivation.PassivationActivationInterceptor</class>
  </interceptors>
</beans>
