grant codeBase "file:///home/jharting/jboss/Weld/core/examples/se/numberguess/target/dependency/weld-se.jar" {
    permission java.security.AllPermission;
};
